<div class="panorama app-container" ng-controller="workflow">
    <!-- Local nav. -->
    <kbn-top-nav name="panorama" config="topNavMenu">
        <!-- Transcluded elements. -->
        <div data-transclude-slots>
            <!-- Title. -->
            <div data-transclude-slot="topLeftCorner"
                 class="kuiLocalBreadcrumbs"
                 data-test-subj="breadcrumbs"
                 role="heading"
                 aria-level="1">
                <div class="kuiLocalBreadcrumb">
                    <a class="kuiLocalBreadcrumb__link" href="{{landingPageUrl()}}">Panorama 360</a>
                </div>
                <div class="kuiLocalBreadcrumb">
                    Workflow
                </div>
            </div>
        </div>
    </kbn-top-nav>

    <main class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Workflow</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="cy"></div>
                    </div>
                    <div class="col-md-6">
                        {{ workflow }}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
