<div class="panorama app-container" ng-controller="workflow">
    <!-- Local nav. -->
    <kbn-top-nav name="panorama" config="topNavMenu">
        <!-- Transcluded elements. -->
        <div data-transclude-slots>
            <!-- Title. -->
            <div data-transclude-slot="topLeftCorner"
                 class="kuiLocalBreadcrumbs"
                 data-test-subj="breadcrumbs"
                 role="heading"
                 aria-level="1">
                <div class="kuiLocalBreadcrumb">
                    <a class="kuiLocalBreadcrumb__link" href="{{landingPageUrl()}}">Panorama 360</a>
                </div>
                <div class="kuiLocalBreadcrumb">
                    Workflow
                </div>
            </div>
        </div>
    </kbn-top-nav>

    <main class="container-fluid" style="margin: 1em">
        <div class="ui grid" id="wf-panel">
            <div class="row">
                <h3 class="ui header" style="margin-left: 1em; margin-right: 1em">
                    <i class="settings icon"></i>
                    <div class="content">
                        Workflow Dashboard
                        <div class="sub header">Panorama 360 Workflow Performance Explorer</div>
                    </div>
                </h3>
            </div>

            <div class="row">
                <div class="eight wide column">
                    <div class="ui black segment" id="wf-graph">
                        <h4 class="ui small header">
                            Workflow Graph
                        </h4>
                        <div id="cy"></div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui blue segment" id="wf-characteristics" ng-show="showWfCharacteristics">
                        <h4 class="ui small header">
                            Workflow Characteristics
                        </h4>
                        <!--<a class="ui top right attached mini label"-->
                        <!--ng-click="showWfCharacteristics = !showWfCharacteristics">-->
                        <!--<i class="white close icon mini itt" data-content="Hide panel" data-variation="mini"></i>-->
                        <!--</a>-->

                        <div class="ui divided small list">
                            <div class="item">
                                <i class="sitemap icon itt" data-content="Workflow Label"
                                   data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{workflow.wf_label}}
                            </div>
                            <div class="item">
                                <i class="id card icon itt" data-content="Workflow ID" data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{workflow.wf_id}}
                            </div>
                            <div class="item">
                                <i class="play icon itt" data-content="Workflow Start Time"
                                   data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{workflow.start}}
                            </div>
                            <div class="item">
                                <i class="flag checkered icon itt" data-content="Workflow End Time"
                                   data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{workflow.end}}
                            </div>
                            <div class="item">
                                <i class="clock icon itt" data-content="Workflow Makespan"
                                   data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{workflow.makespan}}s
                            </div>
                            <div class="item">
                                <div class="ui {{workflow.status_color}} small label">{{workflow.status}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="ui grey segment" id="wf-job-characteristics" ng-show="showJobCharacteristics">
                        <h4 class="ui small header">
                            Job Characteristics
                        </h4>
                        <a class="ui top right attached small label"
                           ng-click="showJobCharacteristics = !showJobCharacteristics">
                            <i class="white close icon small itt" data-content="Hide panel" data-variation="mini"></i>
                        </a>

                        <div class="ui divided small list">
                            <div class="item">
                                <i class="id card icon itt" data-content="Job ID" data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{job.job_id}}
                            </div>
                            <div class="item">
                                <i class="th icon itt" data-content="Executable" data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{job.executable}}
                            </div>
                            <div class="item">
                                <i class="clock icon itt" data-content="Duration" data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{job.duration}}s
                            </div>
                            <div class="item">
                                <i class="clock outline icon itt" data-content="Remote CPU Time"
                                   data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{job.remote_cpu_time}}s
                            </div>
                            <div class="item">
                                <i class="check circle outline icon itt" data-content="Exit Code"
                                   data-variation="small"></i>
                                &nbsp;&nbsp;
                                {{job.exit_code}}
                            </div>
                        </div>

                        <button class="ui teal small button"
                                ng-click="GetJobTimeSeries(job.job_id, job.wf_id)">
                            <i class="chart area icon"></i> Time series
                        </button>
                    </div>

                    <!--{{ workflow }}-->
                    <br/><br/>
                    <!--{{job}}-->
                </div>
            </div>
        </div>

        <div class="ui grid" id="vis-panel">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui teal segment" id="wf-job-time-series" ng-show="showJobTimeSeries">
                        <h4 class="ui small header" style="margin-top: 1em">
                            Job Characteristics: Time Series
                        </h4>
                        <a class="ui top right attached small label"
                           ng-click="showJobTimeSeries = !showJobTimeSeries">
                            <i class="white close icon small itt" data-content="Hide panel"
                               data-variation="mini"></i>
                        </a>

                        <div class="ui grid">
                            <div class="row">
                                <div class="eight wide column">
                                    <div class="ui segment" style="margin-left: 1em">
                                        <h4 class="ui small center aligned grey header">
                                            Cumulative Time in User and System Codes
                                        </h4>
                                        <div class="panorama-visualization">
                                            <visualization ng-if="showJobTimeSeries" vis="cumulTime"
                                                           vis-data="cumulTimeData" style="height: 300px">
                                            </visualization>
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <div class="ui segment">
                                        <h4 class="ui small center aligned grey header">
                                            Average CPU Utilization
                                        </h4>
                                        <div class="panorama-visualization">
                                            <visualization ng-if="showJobTimeSeries" vis="gauge"
                                                           vis-data="gaugeData" style="height: 300px">
                                            </visualization>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="eight wide column">
                                    <div class="ui segment" style="margin-left: 1em">
                                        <h4 class="ui small center aligned grey header">
                                            Bytes Read/Written
                                        </h4>
                                        <div class="panorama-visualization">
                                            <visualization ng-if="showJobTimeSeries" vis="bytes"
                                                           vis-data="bytesData" style="height: 300px">
                                            </visualization>
                                        </div>
                                    </div>
                                </div>
                                <div class="eight wide column">
                                    <div class="ui segment">
                                        <h4 class="ui small center aligned grey header">
                                            Cumulative Bytes Read/Written
                                        </h4>
                                        <div class="panorama-visualization">
                                            <visualization ng-if="showJobTimeSeries" vis="cumulBytes"
                                                           vis-data="cumulBytesData" style="height: 300px">
                                            </visualization>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="eight wide column">
                                    <div class="ui segment" style="margin-left: 1em">
                                        <h4 class="ui small center aligned grey header">
                                            I/O Wait
                                        </h4>
                                        <div class="panorama-visualization">
                                            <visualization ng-if="showJobTimeSeries" vis="iowait"
                                                           vis-data="iowaitData" style="height: 300px">
                                            </visualization>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
